*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
}

.container-1 {
    justify-content: center;
    width: 90%;
    background-color: #ddd;
    font-size: 34px;
    margin: 40px;

    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    gap: 10px;

}

.container-2 {
    display: none;
    background-color: black;
    font-size: 34px;
    margin: 40px;
}

.el--1 {
    height: 150px;
    background-color: purple;
}

.el--2 {
    background-color: crimson;
}

.el--3 {
    background-color: green;
}

.el--4 {
    background-color: lightyellow;
}

.el--5 {
    background-color: pink;
}

.el--6 {
    background-color: skyblue;
}

.el--7 {
    background-color: yellow;
}

.el--8 {
    background-color: red;
}

